* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first-dz {
    padding: 10px;
}

.first-dz span {
    font-size: 20px;
    font-weight: 500;
}

.weather-wdjt {
    width: 385px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.container-today {
    padding: 9px 15px;
    height: 310px;
    background-color: #56cb76;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;

}

.weather-today {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
}

.country {
    padding-bottom: 3px;
}

.middle-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-img > img {
    width: 70px;
}

.weather-descr {
    padding-bottom: 5px;
}

.weather-dgr {
    font-size: 28px;
}

.wind {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 270px;
    align-self: center;
}

.other-days > li {
    list-style: none;
    border: 1px solid #56cb76;
    border-top: none;
    width: 385px;
    height: 85px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.other-days > li > img {
    width: 52px;
}

.other-days > li > p {
    width: 105px;
}